@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" href="~/css/site.css" />
    <body>
<h2 align="center" class="text">
    &#128218;......Welcome In Suryavanshi Library Managment System.......&#128218;
</h2>
<br>
@*<h2 align="center">..........Index Page...........</h2>*@
<br>
 <div class="image" align="center">
        <img src="~/images/bookimage.PNG" />
        </div>

@*<table border="3" align="center" width="700px">
    <thead class="table bg-info" align="center" border="3">
        <tr align="center">
            <th>
             <h4> Sr.No</h4>
            </th>
            <th>
            <h4>  Module Name</h4>
            </th>
        </tr>
    </thead >
    <tbody align="center">
            <tr>
                <td>
                  <h6>  1.</h6>
                </td>
                <td>
                  <h6> Authors </h6>
                </td>
                </tr>
                <tr class="table-active">
                <td>
                   <h6> 2.</h6>
                </td>
                <td>
                  <h6>  Publishers</h6>
                </td>
                </tr>
                <tr >
                <td>
                    <h6>3.</h6>
                </td>
                <td>
                   <h6> Books</h6>
                </td>
                </tr>
                <tr class="table-active">
                <td>
                 <h6>   4.</h6>
                </td>
                <td>
                   <h6> Customers</h6>
                </td>
                </tr>
                <tr>
                <td>
                  <h6>  5.</h6>
                </td>
                <td>
                   <h6> Transactions</h6>
                </td>
            </tr>            
    </tbody>
</table>*@
</body>
